<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>One</title>
</head>
<body>
<p th:text="${task.getDescription()}">Value</p>
<p th:text="${task.getId()}">Da</p>
<a th:href="@{/tasks/{id}/edit(id=${task.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/tasks/{id}(id=${task.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>