<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<div th:each="task : ${task}">
    <a th:href="@{/tasks/{id}(id=${task.getId()})}"
       th:text="${task.getDescription()}">task</a>
</div>

<form action="new">
    <input type="submit" value="Create new task"></input>
</form>

</body>
</html>